<form [formGroup]="playerForm" (ngSubmit)="playerUpdateButton==false?savePlayer():updatePlayer()">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="playerName" class="form-control" id="title" placeholder="Player Name">
    </div>
    <div class="form-group">
        <label for="playerage">Task Details</label>
        <input type="text" formControlName="playerAge" class="form-control" id="playerage" placeholder="Player Age">
    </div>
    <div class="form-group">
        <label for="playercity">Task Details</label>
        <input type="text" formControlName="playerCity" class="form-control" id="playercity" placeholder="Player City">
    </div>
    <button type="submit" *ngIf="!playerUpdateButton" class="btn btn-primary">Submit</button>
    <button type="submit" *ngIf="playerUpdateButton" class="btn btn-primary">Update</button>
</form>