<div *ngIf="task">
    <div class="accordion" *ngFor="let todoItems of task;let i = index">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center" [id]="todoItems.id">
                <h2 class="mb-0">
                    <a class="btn btn-link" type="button" data-toggle="collapse" href="#detail_{{i}}">
                        {{todoItems.title}}
                    </a>
                </h2>
                <div class="d-flex">
                    <a class="text-end text-primary mr-3" (click)="updateTodo(todoItems)">
                        <div class="fas fa-edit w-100 "></div>
                    </a>
                    <a class="text-danger" (click)="deleteTodo(todoItems)">
                        <div class="fas fa-trash"></div>
                    </a>
                </div>
            </div>
            <div id="detail_{{i}}" class="collapse">
                <div class="card-body">
                    {{todoItems.taskDetail}}
                </div>
            </div>
        </div>
    </div>
</div>