.review-detail-form {
    div {
        span {
            width: 120px;
        }
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.mat-slider-horizontal {
    min-width: 240px;
}