<form class="d-flex flex-column" [formGroup]="userForm" (ngSubmit)="submitUser()">
    <div class="form-group">
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
        <small *ngIf=" validateUserForm.firstName.touched && validateUserForm.firstName.errors "
            class="form-text text-danger">
            First Name field is required.
        </small>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="userName" placeholder="User Name">
        <small *ngIf=" validateUserForm.userName.touched && validateUserForm.userName.errors?.required "
            class="form-text text-danger">
            User Name field is required.
        </small>
        <small *ngIf=" validateUserForm.userName.errors?.minlength" class="form-text text-danger">
            Minmum length is 3
        </small>
        <small *ngIf=" validateUserForm.userName.errors?.maxlength" class="form-text text-danger">
            Maximum length is 5
        </small>
        <small *ngIf=" validateUserForm.userName.errors?.pattern" class="form-text text-danger">
            Use only LowerCase
        </small>
    </div>
    <div>
        <select class="custom-select" formControlName="role">
            <option *ngFor="let roles of role" [value]="roles.name" >{{roles.name}}</option>
        </select>
    </div>
    <div class="d-flex mt-3">
        <div class="form-check">
            <input class="form-check-input" (change)="onChangeWorkExp()" formControlName="status" type="radio" value="fresher">
            <label class="form-check-label" for="exampleRadios1">
                Fresher
            </label>
        </div>
        <div class="form-check ml-4">
            <input class="form-check-input" (change)="onChangeWorkExp()" formControlName="status" type="radio" value="Expirenced">
            <label class="form-check-label" for="exampleRadios1">
                Expirenced
            </label>
        </div>
    </div>
    <div class="d-flex" formArrayName="workExpiriences">
        <div class="w-100">
            <div *ngFor="let exp of workArrayControl() ; let i = index">
                <div class="d-flex align-items-center" [formGroupName]="i">
                    <input  type="text" class="w-100 mt-3 form-control" formControlName="workExp"
                        placeholder="Add Your Work Experience">
                    <i class="ml-2 fas fa-trash-alt" *ngIf="workArrayControl().length > 1"
                         (click)="removeWorkExpirence(i)"></i>
                </div>
            </div>
        </div>
        <i class="ml-3 mt-3 fas fa-plus-square" (click)="addWorkExpirence()"></i>
    </div>
    <div class="form-group mt-3">
        <input type="date" class="form-control" formControlName="userDate">
        <small *ngIf="validateUserForm.userDate.touched && validateUserForm.userDate.errors"
            class="form-text text-danger">
            Date is Required
        </small>
    </div>
    <div>
        <select class="custom-select" formControlName="jobRole" multiple>
            <option *ngFor="let jobRole of appliedFor" [value]="jobRole.name" >{{jobRole.name}}</option>
        </select>
    </div>
    <div class="mt-3">
        <input class="form-control" type="file" accept=".png, .jpg, .jpeg" (change)="onImageChanged($event)"
            #profileImage>
    </div>
    <div class="ml-4 mt-3">
        <input class="ml-3" type="checkbox" formControlName="acceptTerms" class="form-check-input" />
        <label class="form-check-label">Accept Terms & Conditions</label>
        <div *ngIf="validateUserForm.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs are required</div>
    </div>
    <button type="submit" [disabled]="userForm.invalid" class="w-25 mt-3 btn btn-primary">Submit</button>
</form>