<div class="d-flex mt-3">
    <div>
        <div class="border-black">
            <span class="fa fa-long-arrow-left"></span>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div>
        <div class="d-flex">
            <span class="ml-3 nav-item btn btn-success" [routerLink]="['shipmentsDetail',{ queryParams: { id: id } }]">
        <a>Detail</a>
      </span>
            <span class="ml-3 nav-item btn btn-primary" routerLink="preview">
        <a>Preview</a>
      </span>
            <span class="ml-3 nav-item btn btn-warning" routerLink="payments">
        <a>Payments</a>
      </span>
            <span class="ml-3 nav-item btn btn-dark" routerLink="history">
        <a>History</a>
      </span>
        </div>
        <div class="mt-2 ml-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>