<form class="shipmentsDetail" [formGroup]="shipmentsDetail">
    <div class="d-flex flex-column">
        <mat-form-field>
            <input matInput type="text" formControlName="shipmentName" placeholder="Shipment Name">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="invoiceNo" placeholder="Invoice No.">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="orderNo" placeholder="Order No.">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" formControlName="trackingNo" placeholder="Tracking Number">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" (click)="submitShipments()" matStepperNext>Next</button>
        </div>
    </div>
</form>